<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<comment>modifyThu May 08 22:40:06 CST 2014</comment>
	<entry key="ID">andieguo</entry>
	<entry key="KEY">123456</entry>
	<entry key="USER">andy</entry>
	<entry key="PASSWORD">3.14</entry>
</properties>
